{% extends 'base.html' %}
{% block content %}

    <p>{% for post in post %}</p>
    <div class="post">
            <p>published: {{ post.published_date }}</p>
            <p> {{ post.choice }}</p>
            <div class="post-img">
            {% if post.img %}
                <img src="{{ post.img.url }}"  alt="Post Image">
            {% else %}
                <img src="images/default_image.jpg"  alt="Image">
            {% endif %}
            </div>
            <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1
            <p>{{ post.text|linebreaksbr|truncatewords:30 }}</p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
    </div>
    {% endfor %}

{% endblock %}
