/* Стилизуем главное меню */
.menu {
    background-color: #92bbf1;
    width: 100%;
    height: 100px;
    font-family: 'Lobster';
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

.menu nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.menu nav li {
    margin-right: 20px;
    margin-top: 20px;
}
.menu nav a {
    text-decoration: none;
}

.logo {
    padding-top: 20px;
}

.logo img {
    min-width: 200px;
    height: 80px;
    margin-right: auto;
    margin-left: 20px;
}


/* Стилизуем меню, которое находится слева */

.menu-left {
    padding: 5px;
    background-color: #92bbf1;
    margin-top: 150px;
    width: 90px;
    height: 240px;
    position: fixed;
    border: 2px solid black;
    border-radius: 10px;

}
.menu-left nav a {
    text-decoration: none;
    color: black;
}

.menu-left nav li {
    font-size: 16px;
    display: block;
}

.menu-left nav li:hover {
    background-color: white;
}