<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Python</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/coolsite.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>

<body>
{% include "coolsite/menu.html" %}
<div class="content">
{% block content %}
{% endblock %}
</div>

<footer class="footer">
    <a href={% url 'coolsite:home' %} class="logo">
        <img src="{% static 'img/footer.png' %}" alt="Логотип">
    </a>
</footer>
</body>
</html>